<div id={{citytitle}} class="card citycard" style="width: 25rem; height : 26rem;">
    <img style="margin-top : ;" src={{cityimage}} class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card" style="padding:10px; background: linear-gradient(45deg, #e0a5b9 0%, #d0b57c 100%);">{{citytitle}}</h5>
         <h5 style="font-weight: 400">{{citydesc}}</h5>
        <a href="/blogs/query?by={{citytitle}}">Know More...</a>
    </div>
</div>