<div id={{_id}} class="card maincard citycard" style="width: 25rem; height : 28.5rem;  ">
    <img style="margin-top : ;" src={{image}} class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card" style="padding:10px; background: linear-gradient(45deg, #e0a5b9 0%, #d0b57c 100%);">{{placename}}</h5>
         <h5 style="font-weight: 400">{{shortdesc}}</h5>
         <span>
           <span>Likes: {{likes}}</span>
           <button id="likebtn" style="box-sizing: border-box; padding: 3px ; background-color: pink" >Like</button>
         </span>
       
        <a style="color:rgb(148, 73, 73)" class="nav-link active" href="/Blogs?cardID={{_id}}" >Read More...</a>
    </div>
</div>